header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

main {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

#answer-box {
  display: grid;
  grid-template-columns: auto;
  width:300px;
}

#answer-box button {
  border-width: 0px;
  background-color:midnightblue;
  color:white;
  padding: 5px;
  margin: 5px;
  display: block;
}

#answer-box button:hover {
  background-color: rgb(35, 35, 109);
}
